#contact_modal {
    display: none;
}

body::-webkit-scrollbar{
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
    
    align-items: center;
}

.photograph-header img{
    height: 225px;
    width: 225px;
    border-radius: 50% ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    object-fit: cover;

}
.photograph-header .description h1{
    font-size: 65px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #D3573c;
}

.photograph-header .description h2{
    padding: 0;
    margin:0;
    font-weight: normal;
    color: #901c1c;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
    background-color: #d3573c;
    color: black;
}

.media-section{
    margin: 40px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 105px;
}

.mediaCard{
    width: 350px;
    height: 330px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mediaCard .cardInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:larger;
    margin: 8px 0px 0px 0px;
}

.mediaCard video {
    width: 350px;
    height: 330px;
    object-fit: cover;
}

.cardInfo p{
    color: #901C1C;
    margin: 0;
}

.mediaCard img{
    width: 350px;
    height: 330px;
    object-fit: cover;
    border-radius: 5px;
}

.likeSection {
    display: flex;
    align-items: center;
    gap: 5px;
}

.likeButton {
    height: 20px;
    width: 20px;
}

.likeIcon  {
    width: 20px !important;
    height: 20px !important;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}